.options {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: var(--options-color);
    padding: 52px 16px 16px;
    transition: background-color 250ms, transform 250ms;
    box-shadow: -10px 0px 24px 0px rgba(0, 0, 0, 0.5);
}

.options__close {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    // background: none;
    fill: var(--first-color);
}

.options__description {
    font-size: 24px;
}

.options__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px 0;
}

.options__icon {
    fill: #bbbbbb;
}

.options__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 5px;
    transition: background-color 250ms;
}

.options__label:hover,
.options__label:focus {
    background-color: #e7e7e7;
}

.options__caption {
    color: #bbbbbb;
}

.options input:checked ~ svg {
    fill: #257a1d;
}

.options input:checked ~ span {
    color: #257a1d;
}

.icon {
    fill: var(--first-color);
}
